.counterBlock{
  display: flex;
  flex-direction: row;
  margin: 32px 0 72px;
  .number{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: #162C4E;
  }
  .img{
    width: 132px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }
  .colon{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: #162C4E;
  }
}